.THIS .slds-is-sortable{
    padding: 6px 0px 6px 6px!important;
    font-size: 10px;
}
.THIS .slds-truncate{
    font-size: 11px;
}
.THIS .slds-truncate{
    font-size: 12px;
}
.THIS .slds-icon_container{
    cursor: pointer;
}
.THIS .totalAmt{
    float: right;
    padding: 5px 7px 8px 0px;
}
.THIS .hidePanel{
    display:none;
}
.THIS .hideButton{
    display:none!important;
}
.THIS .slds-table--bordered{
    border: 1px solid rgb(216, 221, 230)!important; 
}
.THIS .slds-size--5-of-6 {
    padding: 28px 15px 0 15px;
}
.THIS .slds-size--3-of-6{
    padding: 28px 15px 0 15px;
}