<apex:page controller="DependentPicklistandActionFun">
<apex:form >
<apex:actionFunction name="change" action="{!Showcon}"/>
<apex:selectList value="{!selected}" size="1" onchange="change()">
<apex:selectOptions value="{!items}">
</apex:selectOptions>
</apex:selectList>&nbsp;&nbsp;
<apex:selectList size="1">
<apex:selectOptions value="{!conitems}">
</apex:selectOptions>
</apex:selectList>
</apex:form>

</apex:page>